body {
    background-image: url('../img/fondos/fondo_recuperar_contrasena.jfif');
    background-attachment: fixed;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(247, 124, 9, 0.801); 
    color: #000; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
    -webkit-font-smoothing: antialiased; 
}

.container {
    background: #fff; 
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    position: relative;
    transform: translateZ(0);
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #ff8800; 
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.form-group .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff7b00; 
    font-size: 20px;
}

.form-group input {
    width: 100%;
    padding: 14px 14px 14px 45px; 
    border: 2px solid rgba(255, 123, 0, 0.171); 
    border-radius: 10px;
    background-color: rgba(255, 196, 147, 0.158); 
    color: #000000; 
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.form-group input:focus {
    background-color: rgba(255, 150, 64, 0.158);
    border: 2px solid rgba(255, 123, 0, 0.534); 
}

.form-group input::placeholder {
    color: #ff9100; 
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #f89f19, #ffab2c); 
    color: #ffffff; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 15px rgba(255, 123, 0, 0.37); 
}

button:hover {
    background: linear-gradient(45deg, #ff8800, #ff8e32);
    box-shadow: 0 6px 20px rgba(255, 152, 18, 0.2);
    transform: translateY(-3px);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(255, 116, 3, 0.342);
}

.flash-message {
    background-color: #e9f0f7; 
    color: #4c8baf; 
    border: 1px solid #c3d8e6; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.95rem;
}

.flash-message.success, .flash-message.error {
    background-color: #e9f7ef;
    color: #4c6baf;
    border: 1px solid #c3c9e6;
}