body {
    background-image: url('../img/fondos/goku_perfil.jfif');
    background-attachment: fixed;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    background-color: #ff7300;  /* Fondo LightGray */
    color: #000000;
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(212, 212, 212, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    text-align: center;
}

.profile-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}

.profile-icon {
    font-size: 80px;  
    color: #ff7300;  
    margin-bottom: 20px;
}

.profile-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 18px;
    color: #ff7b00;
}

.profile-item i {
    margin-right: 12px;
    font-size: 20px;
    color: #ff7b00;
}

.profile-item span {
    font-weight: bold;
    color: #000000;  /* Color negro para el texto destacado */
}

.btn-back {
    display: inline-block;
    margin-top: 20px;
    background-color: #ff8800;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.btn-back:hover {
    background-color: #f37500;
}