body {
    background-image: url('./img/fondos/fondo_login.jfif');
    background-attachment: fixed;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 131, 29); 
    color: #000; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
    -webkit-font-smoothing: antialiased; 
}

.login-container {
    background: #ffffff; 
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    position: relative;
    transform: translateZ(0);
}

.login-form h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #000; 
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.form-group .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff7300; 
    font-size: 20px;
}

.form-group input {
    width: 100%;
    padding: 14px 14px 14px 45px;
    border: 2px solid rgba(255, 123, 0, 0.171); 
    border-radius: 10px;
    background-color: rgba(255, 196, 147, 0.158); 
    color: #000000; 
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.form-group input:focus {
    background-color: rgba(255, 150, 64, 0.158);
    border: 2px solid rgba(255, 123, 0, 0.534); 
}

.form-group input::placeholder {
    color: #ff9100; 
}

/* Buttons */
.btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #f89f19, #ffab2c);  
    color: #ffffff; /* Texto negro */
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 15px rgba(167, 167, 167, 0.1); 
}

.btn:hover {
    background: linear-gradient(45deg, #ff8800, #ff8e32);
    box-shadow: 0 6px 20px rgba(255, 152, 18, 0.2);
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(163, 21, 21, 0.1);
}

/* Links */
.signup-link, .login-link {
    text-align: center;
    margin-top: 25px;
}

.signup-link p, .login-link p {
    font-size: 14px;
    color: #000000; 
}

.signup-text, .login-text {
    color: #ff9d1c; 
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.signup-text:hover, .login-text:hover {
    color: #ff7b00; 
    transform: scale(1.1);
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #ff7300;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.toggle-password::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #ff7300;
    background-color: transparent;
}

.toggle-password::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #ff7300;
    opacity: 1;
}

.toggle-password.active::after {
    opacity: 0;
}

.error-message {
    color: #4c6baf; 
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #c3c9e6;
    background-color: #e9f7ef;
    padding: 10px;
    border-radius: 5px;
}