<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamehouse Store</title>
    <link rel="shortcut icon" href="../static/img/fondos/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <nav class="navbar-top">
        <div class="navbar-brand">
            <h1>Bienvenido, {{ usuario }}!</h1>
        </div>
        <ul class="navbar-menu">
            <li><a href="/pagina_principal">Inicio</a></li>
            <li class="dropdown">
                <img src="{{ url_for('static', filename='img/fondos/goku_icon.jfif') }}" alt="Foto" class="profile-pic">
                
                <div class="dropdown-content">
                    <a href="/mi_perfil">
                        <i class="fas fa-user"></i> Mi Perfil
                    </a>

                    {% if session['role'] == 'admin' %}
                    <a href="/admin">
                        <i class="fas fa-tools"></i> Administración
                    </a>
                    {% endif %}
                    <a href="/logout">
                        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                    </a>
                </div>
            </li>
        </ul>
        <button class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
    
    <!-- Menú móvil -->
    <div class="mobile-menu hidden">
        <a href="/mi_perfil">
            <i class="fas fa-user"></i> Mi Perfil
        </a>
        {% if session['role'] == 'admin' %}
        <a href="/admin">
            <i class="fas fa-tools"></i> Administración
        </a>
        {% endif %}
        <a href="/logout">
            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
        </a>
    </div>

    <!-- Contenedor principal de la tienda -->
    <div class="wrapper">
        <header class="header-mobile">
            <h1 class="logo">Kamehouse</h1>
            <button class="open-menu" id="open-menu">
                <i class="bi bi-list"></i>
            </button>
        </header>
        
        <aside>
            <button class="close-menu" id="close-menu">
                <i class="bi bi-x"></i>
            </button>
            <header>
                <h1 class="logo">Kamehouse</h1>
            </header>
            <nav>
                <ul class="menu">
                    <li>
                        <button id="todos" class="boton-menu boton-categoria active">
                            <i class="bi bi-hand-index-thumb-fill"></i> Todos los productos
                        </button>
                    </li>
                    <li>
                        <button id="abrigos" class="boton-menu boton-categoria">
                            <i class="bi bi-hand-index-thumb"></i> Abrigos
                        </button>
                    </li>
                    <li>
                        <button id="camisetas" class="boton-menu boton-categoria">
                            <i class="bi bi-hand-index-thumb"></i> Camisetas
                        </button>
                    </li>
                    <li>
                        <button id="pantalones" class="boton-menu boton-categoria">
                            <i class="bi bi-hand-index-thumb"></i> Pantalones
                        </button>
                    </li>
                    <li>
                        <a class="boton-menu boton-carrito" href="./carrito.html">
                            <i class="bi bi-cart-fill"></i> Carrito <span id="numerito" class="numerito">0</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <footer>
                <p class="texto-footer">© 2026 Yebe Corporation</p>
            </footer>
        </aside>
        
        <main>
            <h2 class="titulo-principal" id="titulo-principal">Todos los productos</h2>
            <div id="contenedor-productos" class="contenedor-productos">
            </div>
        </main>
    </div>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/menu.js"></script>
    <script>
        const hamburger = document.querySelector('.hamburger');
        const mobileMenu = document.querySelector('.mobile-menu');

        hamburger.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>
</body>
</html>